.main{
    margin: 50px;
    background-color: gold;
    border: 5px solid black; 
  }
  
  .nav-bar{
    word-spacing: 40px;
    font-size: 20px;
    font-family: arial;
  }
  
  .nav-bar ul li a{
    text-decoration: none;
    color:black;
  }
  
  .nav-bar ul li{
    display: inline-block;
    -webkit-transition: border 1s, border-radius 1s, padding 1s, background-color 1s, color 1s;
  }
  
  .nav-bar ul li:hover{ 
    border-bottom: 2px solid #c80ee0;
    border-radius: 10%;
    padding: 10px;
    background-color:aqua;
    color: white;
  }
  .paragraph{
    font-size: 100px;
  }
  .logo{
    font-style:italic ;
    font-size: 30px;
    color: #e91e63;
  }
  .logo span{
    color:blueviolet;
  }
  .box-icon{
    color: black;
  }
  .fa-qrcode{
    color: hot red
  }
  .contact{
    color: #e91e63;
  }

  .about{
    width: 1330px;
    height: px;
    
  }
  .img{
    background-color: yellow;
    width: 350px;
    height: 600px;
    display: flex;
    margin-top: 100;
  }
  .homepage{
    background:yellowgreen;
  
  }
  .home{
    width: 2000px;
    height: 500px;
    margin-top: 100;
    margin-left: 100;
    text-align: left;
    float: left;
  }
  .button{
    color: black;
    font-size: 35;
    font-style: italic;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .h3{
    color:brown;
    font-size: 40;
  }
  .p{
    font-size: 30;
    font-style: inherit ;
  }
  .Built{
    color:brown;
    font-size: 20;
  }
  .log span{
    color: brown;
  }
  .log{
    color:hsl(22, 100%, 50%);
    font-size: 20;
  }
  .Contact{
    height: 300px;
  }
  .social-media{
    height: 160;
    margin-top: 150;
  }
  .HR{
    /* background-color: cyan; */
    width: 800;
    height: 300;
    margin: auto;
  }
  .Resume{
    width: 200;
    height: 200;
  }
  .imghome{
    display: flex;
    height: 600px;
  }
